@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: var(--font-yellowtail), sans-serif;
}

.carousel .control-dots .dot {
  border: 2px solid #000;
  background-color: transparent;
}

.carousel .control-dots .dot.selected {
  background-color: #000;
  border-color: #000;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
